<section class="main-section">

  <div class="search-navbar">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (input)="applyFilter()">
    <app-f4-add-product-btn></app-f4-add-product-btn>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col" class="truncate text-center">Logo</th>
          <th scope="col" class="truncate">Nombre del Producto</th>
          <th scope="col" class="truncate">Descripción <app-tool-tip></app-tool-tip></th>
          <th scope="col" class="truncate">Fecha de liberación <app-tool-tip></app-tool-tip></th>
          <th scope="col" class="truncate">Fecha de reestructuración <app-tool-tip></app-tool-tip></th>
          <th scope="col" class="truncate kebab-container"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="cell" *ngFor="let item of filteredData.slice(startIndex(), endIndex() + 1)">
          <td><img style="width: 50px;display: block;margin: 1rem auto;" src="{{ item.logo }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.date_release | date:"shortDate" }}</td>
          <td>{{ item.date_revision | date:"shortDate" }}</td>
          <td class="dropdown-container">
            <app-kebab (click)="toggleOptions(item.id)"></app-kebab>
            <ul class="options-list" [ngClass]="{ 'show-options': selectedItem === item.id }">
              <li><a [routerLink]="['product-detail', item.id]">Edit</a></li>
              <li><a href="#!" (click)="onDeleteClick(item.id.toString())">Delete</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="paginator">

    <div>
      <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Previous</button>
      {{ currentPage }} / {{ Math.ceil(filteredData.length / itemsPerPage) }}
      <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === Math.ceil(filteredData.length / itemsPerPage)">Next</button>
    </div>

    <select class="form-control" id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="applyFilter()">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>

</section>
