<section class="main-section">

  <div class="search-navbar">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
    <app-f4-add-product-btn></app-f4-add-product-btn>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col" class="truncate text-center">Logo</th>
          <th scope="col" class="truncate">Nombre del Producto</th>
          <th scope="col" class="truncate">Descripción <app-tool-tip></app-tool-tip></th>
          <th scope="col" class="truncate">Fecha de liberación <app-tool-tip></app-tool-tip></th>
          <th scope="col" class="truncate">Fecha de reestructuración <app-tool-tip></app-tool-tip></th>
          <th scope="col" class="truncate kebab-container"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="cell" *ngFor="let item of allProducts | filter:searchTerm">
          <td><img style="width: 50px;display: block;margin: 1rem auto;" src="{{ item.logo }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.date_release | date:"shortDate" }}</td>
          <td>{{ item.date_revision | date:"shortDate" }}</td>
          <td>
            <app-kebab></app-kebab>
            <ul style="display: none;align-items: center;list-style: none;">
              <li><a [routerLink]="['product-detail', item.id]">Edit</a></li>
              <li><a (click)="onDeleteClick(item.id)">Delete</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="display: flex;align-items: center;justify-content: end;padding: 1rem;">
    <select class="form-control" id="allocation-algorithm" [(ngModel)]="qtyTerm">
      <option value="0" selected></option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</section>
