.main-section {
  max-width: 1140px;
  width: 66vw;
}

.search-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.search-navbar input {
  margin: 0;
  width: 15vw;
}

.table-container {
  overflow-x: scroll;
}

.table-container table {
  background-color: white;
  border-collapse: collapse;
}

thead {
  background-color: #f9fafc;
  text-align: left;
}

th {
  font-size: small;
  font-weight: 600;
  padding: 1.5rem 0.3rem;
  border: 0;
}

td {
  font-size: small;
  padding: 0.3rem;
  border-right: 0 !important;
  border-bottom: 1px solid #d1d1d1 !important;
}

td:last-child {
  margin-bottom: 1rem;
}

.kebab-container {
  max-width: 2rem;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  gap: 1rem;
}

.product-image {
  width: 50px;
  display: block;
  margin: 1rem auto;
}
